<%- object.all_error_messages.each do |field_name, msg| %>
  $('[name="<%= field_name %>"]').addClass('is-invalid-input')
    .after("<span class='form-error is-visible'><%= msg %></span>");
<%- end %>
